<%- include('../pages/head.ejs') %>
<style>
  /* Add a fade-out animation for the alert */
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .alert-auto-hide {
    animation: fadeOut 5s ease-out forwards; /* Adjust time (5s) as needed */
  }
</style>
<body>
  <div class="wrapper">
    <!-- Sidebar -->
    <%- include('../pages/sidebar') %>
    <!-- End Sidebar -->

    <div class="main-panel">
      <div class="main-header">
        <div class="main-header-logo">
          <!-- Logo Header -->
          <%- include('../pages/logoheader.ejs')%>

          <!-- End Logo Header -->
        </div>
        <!-- Navbar Header -->
        <%- include('../pages/navbar') %>
        <!-- End Navbar -->
      </div>

      <div class="container">
        <div class="page-inner">
          <div class="row">
            <div class="col-md-4">
              <div class="card card-secondary">
                <div class="card-body skew-shadow">
                  <h1><%= totalModule %></h1>
                  <h5 class="op-8">Total des Domaines</h5>
                  <div class="pull-right">
                    <h3 class="fw-bold op-8"><%- totalModule %> / <%- totalModule %></h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-secondary bg-secondary-gradient">
                <div class="card-body bubble-shadow">
                  <h1><%= archivedCount %></h1>
                  <h5 class="op-8">Total archivé</h5>
                  <div class="pull-right">
                    <h3 class="fw-bold op-8"><%- archivedCount %> / <%- totalModule %></h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-secondary bg-secondary-gradient">
                <div class="card-body curves-shadow">
                  <h1><%= unArchivedCount %></h1>
                  <h5 class="op-8">Total non-archivé</h5>
                  <div class="pull-right">
                    <h3 class="fw-bold op-8">
                      <%= unArchivedCount %> / <%= totalModule %>
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4"
          >
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="d-flex align-items-center">
                    <h4 class="card-title">Liste des domaines</h4>
                    <a
                      href="/domaine/add"
                      class="btn btn-primary btn-round ms-auto"
                    >
                      <i class="fa fa-plus"></i>
                      Ajouter Domaine
                    </a>
                  </div>
                </div>
                <% if (message) { %>
                <div
                  class="alert alert-success alert-dismissible fade show alert-auto-hide"
                  role="alert"
                >
                  <% if (message === 'archived') { %> Domaine archivé avec
                  success! <% } else if (message === 'unarchived') { %> Domaine
                  dé!sarchiver avec succes! <% } %>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
                <% } %>

                <div class="card-body">
                  <div class="table-responsive">
                    <table
                      id="example"
                      class="display table table-striped table-hover"
                    >
                      <thead>
                        <tr>
                          <th>Domaine</th>
                          <th>Date de creation</th>
                          <th>Derniere mise à jour</th>
                          <th style="width: 10%">Action</th>
                        </tr>
                      </thead>

                      <tbody>
                        <% domaines.forEach(domaine => { %>
                        <tr>
                          <td><%= domaine.nom_domaine %></td>
                          <td><%= domaine.formattedCreatedAt %></td>
                          <td><%= domaine.formattedUpdatedAt %></td>
                          <td>
                            <div class="form-button-action">
                              <a
                                href="/domaine/<%= domaine._id %>/edit/"
                                data-bs-toggle="tooltip"
                                title=""
                                class="btn btn-link btn-primary btn-lg"
                                data-original-title="Edit Task"
                              >
                                <i class="fa fa-edit"></i>
                              </a>

                              <form
                                action="/domaine/<%= domaine._id %>/supprimer?_method=DELETE"
                                method="POST"
                                style="display: inline"
                                onsubmit="return confirm('Voulez-vous vraiment supprimer ce domaine ?');"
                              >
                                <button
                                  type="submit"
                                  class="btn btn-link btn-danger"
                                >
                                  <i class="fa fa-times"></i>
                                </button>
                              </form>
                              <form
                                action="/domaine/<%= domaine._id %>/toggleArchive"
                                method="POST"
                                class="d-inline"
                              >
                                <button
                                  type="submit"
                                  class="btn btn-link <%= domaine.archive ? ' btn-success' : 'btn-warning' %> btn-lg"
                                  title="<%= domaine.archive ? 'Click to Unarchive' : 'Click to Archive' %>"
                                >
                                  <i
                                    class="fas <%= domaine.archive ? 'fa-thumbs-up' : 'fa-thumbs-down' %>"
                                  ></i>
                                </button>
                              </form>
                            </div>
                          </td>
                        </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../pages/js') %>
</body>
