



<div class="container">
    <div class="page-inner">
      <div
        class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4"
      >
      

        <div>
          <h3 class="fw-bold mb-3">Dashboard</h3>
          <!-- <h6 class="op-7 mb-2">Free Bootstrap 5 Admin Dashboard</h6> -->
        </div>
        
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h5><b>Total Coach</b></h5>
                  <p class="text-muted">Tous les coachs</p>
                </div>
                <h3 class="text-success fw-bold"><%- totalCoach %></h3>
              </div>
              <div class="progress progress-sm">
                <div
                  class="progress-bar bg-success "
                  role="progressbar"
                  aria-valuenow=<%- totalPourcentage %>
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: <%= totalPourcentage %>%;"
                ></div>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <p class="text-muted mb-0">Pourcentage</p>
                <p class="text-muted mb-0"><%- totalPourcentage %> %</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h5><b>Total Apprenants</b></h5>
                  <p class="text-muted">Tous les apprenant</p>
                </div>
                <h3 class="text-danger fw-bold"><%- totalApprenant %></h3>
              </div>
              <div class="progress progress-sm">
                <div
                  class="progress-bar bg-danger "
                  role="progressbar"
                  aria-valuenow=<%- totalPourcentageApprenant %>
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: <%= totalPourcentageApprenant %>%;"
                ></div>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <p class="text-muted mb-0">Pourcentage</p>
                <p class="text-muted mb-0"><%- totalPourcentageApprenant %>%</p>
              </div>
            </div>
            
          </div>
          
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h5><b>Total Apprenants</b></h5>
                  <p class="text-muted">Fresh Order Amount</p>
                </div>
                <h3 class="text-danger fw-bold"><%- totalApprenant %></h3>
              </div>
              <div class="progress progress-sm">
                <div
                  class="progress-bar bg-danger "
                  role="progressbar"
                  aria-valuenow=<%- totalPourcentageApprenant %>
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: <%= totalPourcentageApprenant %>%;"
                ></div>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <p class="text-muted mb-0">Pourcentage</p>
                <p class="text-muted mb-0"><%- totalPourcentageApprenant %>%</p>
              </div>
            </div>
            
          </div>
          
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h5><b>Total Apprenants</b></h5>
                  <p class="text-muted">Fresh Order Amount</p>
                </div>
                <h3 class="text-danger fw-bold"><%- totalApprenant %></h3>
              </div>
              <div class="progress progress-sm">
                <div
                  class="progress-bar bg-danger "
                  role="progressbar"
                  aria-valuenow=<%- totalPourcentageApprenant %>
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: <%= totalPourcentageApprenant %>%;"
                ></div>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <p class="text-muted mb-0">Pourcentage</p>
                <p class="text-muted mb-0"><%- totalPourcentageApprenant %>%</p>
              </div>
            </div>
            
          </div>
          
        </div>

      </div>
    
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  console.log('Token dans localStorage:', localStorage.getItem('token'));

  axios.get('/dash', {
    headers: {
      Authorization: `Bearer ${localStorage.getItem('token')}` 
    }
  })
  .then(response => {
    console.log('Réponse du serveur:', response.data);
  })
  .catch(error => {
    console.log('Erreur:', error.response ? error.response.data : error.message);
    if (error.response && error.response.status === 401) {
      window.location.href = '/login'; 
    }
  });
  

</script>