<!DOCTYPE html>
<html lang="en">
  <%- include('../pages/head') %>
  <body>
    <div class="wrapper">
      <!-- Sidebar -->
      <%- include('../pages/sidebar') %>
      <!-- End Sidebar -->

      <div class="main-panel">
        <div class="main-header">
          <div class="main-header-logo">
            <!-- Logo Header -->
            <%- include('../pages/logoheader.ejs')%>

            <!-- End Logo Header -->
          </div>
          <!-- Navbar Header -->
          <%- include('../pages/navbar') %>
          <!-- End Navbar -->
        </div>

        <div class="container">
          <div class="page-inner">
            <div
              class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4"
            >
              <div>
                <h3 class="fw-bold mb-3">Formulaire de modification</h3>
                <h6 class="op-7 mb-2">Sous domaine</h6>
              </div>
              <div class="ms-md-auto py-2 py-md-0">
                <a href="/sousdomaine" class="btn btn-primary btn-round"
                  >Lister domaine</a
                >
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="card-title">Modification</div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <form action="/cours/<%= cours._id %>/editModule?_method=PUT" method="POST" class="col-md-12 col-lg-12">
                        <div class="form-group">
                          <label for="cours">cours</label>
                          <input
                          name="cours"
                            type="text"
                            class="form-control"
                            id="cours"
                            value="<%= cours.nom_cours %>"
                            required
                            placeholder="ex: HTML/CSS"
                          />
                          
                          
                        </div>
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Sélectionnez un sous Domaine</label>
                          <select
                            class="form-select"
                            id="exampleFormControlSelect1"
                            name="sousdomaineId"
                            required
                          >
                          <% sousdomaines.forEach(function(sousdomaine) { %>
                            <option 
                              value="<%= sousdomaine._id %>" 
                              <%= cours.sous_domaine && cours.sous_domaine._id.toString() === sousdomaine._id.toString() ? 'selected' : '' %>
                            >
                              <%= sousdomaine.sousdomaine %>
                            </option>
                          <% }); %>
                          
                          </select>
                          <div class="form-group">
                            <label for="duree">Duree</label>
                            <input class="form-control" name="duree" value="<%= cours.duree %>" id="duree" >
                            
                          </div>
                        </div>
                      
                        <div class="form-group">
                          <label for="description">Description</label>
                          <textarea class="form-control" 
                          value="<%= cours.description  %>"

                           name="description" id="description"  rows="5">
                          </textarea>
                        </div>
                        <div class="card-action">
                          <button class="btn btn-success" type="submit">Mogifier</button>
                          <button class="btn btn-danger" type="reset">Annuler</button>
                        </div>
                      </form>
                     
                       

                     
                      
                
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <%- include('../pages/footer') %>
    </div>
    <%- include('../pages/js') %>
  </body>
</html>
